<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="truckstore, truck, man, scania, volvo, daf, camion, alextrucks"> <!--9)Textul trebuie să conțină toate cuvintele cheie identificate pentru pagina curentă-->
        <meta name="description" content="Dealer autorizat de autocamioane multi-marca">
        <!--3) Adaugati un title corespunzator continutului textului-->
        <title>AlexTruck Store</title>
        <%- include("../fragmente/head") %>     
        <link href="/resurse/css/produs.css" type="text/css" rel="stylesheet" />

    </head>
    <body>
    <%- include("../fragmente/header") %>
    <main>
        <script text="text/javascript" src=/resurse/js/dateUtils.js></script>
        <section>
            <h2>Pagină produs</h2>
                <article id="art-produs">
                    <h3><span class="nume"><%- locals.prod.nume %></span></h3>
                    <p>Pret: <span class="pret"><%- locals.prod.pret %> </span></p>
                    <p>Descriere: <span class="descriere"><%- locals.prod.descriere %> </span></p>
                    <p>Dotari: <span class="dotari"><%- locals.prod.dotari %> </span></p>
                    <p>Cai putere: <span class="cai_putere"><%- locals.prod.cai_putere %> </span></p>
                    <p>Norma poluare: <span class="norma_poluare"><%- locals.prod.norma_poluare %> </span></p>
                    <p>Categorie: <span class="categorie"><%- locals.prod.categorie %> </span></p>
                    <p>Suporta agabaritic: <span class="suporta_agabaritic"><%- locals.prod.suporta_agabaritic %> </span></p>
                    <p>Tip produs: <span class="tip_produs"><%- locals.prod.tip_produs %> </span></p>
                    <p>Data adăugare: <span class="data_adaugare"><time class="data-parsata"><%- locals.prod.data_adaugare %></time></span></p>
                    <figure class="imag-produs">
                        <img  src="/resurse/img/produse/<%- locals.prod.imagine %>" alt="[imagine <%- locals.prod.nume %>]" />
                    </figure>    
                </article>
            
        </section>
        <script>callTranslate()</script>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>